/* Make Swiper arrows visible */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  z-index: 50 !important;
}

/* Make pagination bullets visible */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination {
  bottom: 20px !important;
  z-index: 50 !important;
}


